#table1{
    
    
    
    
    background-color: #FAFAD2;
    text-align: center;
    
margin: 0 auto;
width: 50%;

    

}

#table2{


    background-color: #FAFAD2;
    text-align: center;
    
margin: 0 auto;
width: 50%;
height: 50px ;

}

button{

position: absolute;
left: 47.50%;
top: 42%;


  
  
  



}


