#form{
    
    
    
    
    background-color: #FAFAD2;
    text-align: center;
    
    
margin: 0 auto;
width: 50%;

    

}

#form2{


    background-color: #FAFAD2;
    text-align: center;
    
margin: 0 auto;
width: 50%;
height: 50px ;

}

#but{

left: 47.50%;
top: 55%;
position: absolute;

  
  
  



}


